<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data[lang].title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="block">
        <div class="block__left block__left--bordered">
          <h2 class="document-type">{{ data[lang].resume }}</h2>
        </div>
        <div class="block__right">
          <h1 class="document-title">{{ data[lang].name }}</h1>
          <h2 class="document-position">{{ data[lang].position }}</h2>
        </div>
      </header>
      <div class="block">
        <div class="block__left">
          <img class="document-photo" src="{{ data[lang].profile_photo }}" alt="{{ data[lang].profile_photo_alt }}"/>
        </div>
        <div class="block__right">
          <div class="contacts">
            {% for contact in data[lang].contacts %}
              <a class="contact-item" href="{{ contact.href }}" data-label="{{ contact.label }}">{{ contact.text }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <main>
        <section class="block" style="margin: 40px 0 50px;">
          <div class="block__left block__left--bordered">
            <p class="location-country">
              <img src="/assets/location_icon.svg" alt="" aria-hidden="true" />
              {{ data[lang].location.country }}
            </p>
            <p class="location-city">{{ data[lang].location.city }}</p>
          </div>
          <div class="block__right">
            <h2 class="block__title">{{ data[lang].about.title }}</h2>
            <p class="block__text">{{ data[lang].about.text }}</p>
          </div>
        </section>

        <section class='block' style="margin-bottom: 20px">
          <div class="block__left">
            <h2 class="block__title">{{ data[lang].skills_label }}</h2>
          </div>
          <div class="block__right">
            <h2 class="block__title">{{ data[lang].experience_label }}</h2>
          </div>
        </section>

        {% for experience in data[lang].experience %}
          <section class='block'>
            <div class="block__left block__left--bordered">
              {% if experience.hook %}
                <h2 class="block__subtitle">{{ experience.hook | safe }}</h2>
              {% endif %}
              {% for skill in experience.skills %}
                <p class="block__text">{{ skill }}</p>
              {% endfor %}
            </div>
            <div class="block__right">
              <h3 class="block__subtitle block__subtitle--point">{{ experience.company_name }}</h3>
              <h4 class="block__subtitle">{{ experience.position }} | {{ experience.period }}</h4>
              <div class="block__text">{{ experience.description | safe }}</div>
            </div>
          </section>
        {% endfor %}
      </main>
    </div>

    <div class="language-switcher">
      {% for code, value in data %}
        <a class="language-btn{% if lang == code %} active{% endif %}" href="/{{ code }}/">{{ code | upper }}</a>
      {% endfor %}
      <button id="download-pdf" class="language-btn">{{ data[lang].download_pdf }}</button>
    </div>
  </body>
</html>
