<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data[lang].title }}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="block">
        <div class="block_left">
          <h2 class="uppercase">{{ data[lang].resume }}</h2>
        </div>
        <div class="block_right">
          <h1>{{ data[lang].name }}</h1>
          <h2 class="uppercase">{{ data[lang].position }}</h2>
        </div>
      </header>

      <div class="language-switcher">
        <a class="language-btn{% if lang == 'ru' %} active{% endif %}" href="/ru/">RU</a>
        <a class="language-btn{% if lang == 'en' %} active{% endif %}" href="/en/">EN</a>
      </div>
    </div>
  </body>
</html>
