<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data[lang].title }}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="block">
        <div class="block_left">
          <h2>{{ data[lang].resume }}</h2>
        </div>
        <div class="block_right">
          <h1>{{ data[lang].name }}</h1>
          <h2>{{ data[lang].position }}</h2>
        </div>
      </header>
    </div>

    <div class="language-switcher">
      {% for code, value in data %}
        <a class="language-btn{% if lang == code %} active{% endif %}" href="/{{ code }}/">{{ code | upper }}</a>
      {% endfor %}
      <button id="download-pdf" class="language-btn">{{ data[lang].download_pdf }}</button>
    </div>
  </body>
</html>
